# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos gerados
dist/
.next/
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json